<div id="board-id-<%= board.id %>">
<%= link_to drug.name, drug_path(drug) %>
<table class="ta1">
<caption><%= link_to drug.name, drug_path(drug) %></caption>
<tr>
<th>見出し</th>
<td>ここに内容を入れます。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに内容を入れます。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに内容を入れます。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに内容を入れます。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに内容を入れます。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに内容を入れます。サンプルテキスト。ここに内容を入れます。サンプルテキスト。ここに内容を入れます。サンプルテキスト。ここに内容を入れます。サンプルテキスト。ここに内容を入れます。サンプルテキスト。ここに内容を入れます。サンプルテキスト。ここに内容を入れます。サンプルテキスト。ここに内容を入れます。サンプルテキスト。</td>
</tr>
</table>

<p><%= drug.text %></p>
</div>