<div class="search-result">
<dl>
<dt><span class="drug-icon"></span></dt>
<dd><div class="drug-title" ><%= drug.name %></div></dd>
<dd><span class="tag-division">一類医薬品</span><span class="tag-caution">not眠気注意</span></dd>
<dd><span class="tag-ingredient">ロキソプロフェンナトリウム水和物</span></dd>
</dl>
<table class="ta1">
<tbody>
<tr>
<tr>
<th>効能効果</th>
<td><%= simple_format(drug.effect_text) %></td>
</tr>
<tr>
</tbody>
</table>
  <%= link_to drug_path(drug), class: "button-text" do %>
  <div class="btn btnmint">
    詳しい説明を見る！
  </div>
  <% end %>
  </div>