<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
  <body>

<% content_for(:title, t('.title')) %>
<div class="top-header"></div>
<div class="container">
<hgroup>
  <h2><%= t '.title' %></h2><br>
</hgroup>
      <% if @drugs.present? %>
        <%= render @drugs %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
        <%= paginate @drugs %>
</div>
</body>