<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
  <body>

<% content_for(:title, t('.title')) %>
<div class="top-header"></div>
  <div class="container">
<hgroup>
  <h2><%= t '.title' %></h2><br>
</hgroup>

<dl>
<%= form_with model:@drug, local: true, class: 'drug-search' do |f| %>
  <dt>成分名で検索</dt>
  <dd>
    <ul class= "search-list">
      <li>
      <label class = "textarea">
        <input type="text" placeholder="成分名で検索">
      </label>
      </li>
    </ul>
  </dd>
  <dt>商品名で検索</dt>
  <dd>
    <ul class= "search-list">
      <li>
        <label class = "textarea">
        <input type="text" placeholder="商品名で検索">
        </label>
      </li>
      </ul>
  </dd>
  <dt>どんな症状がありますか？</dt>
  <dd>
    <ul class= "search-list">
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">頭痛</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">喉の痛み</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">熱</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">せき</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">たん</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">鼻水</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">鼻づまり</span>
        </label>
      </li>
    </ul>
  </dd>
  <dt>最低何回分ほしいですか？</dt>
  <dd>
    <ul class= "search-list">
      <li>
      <label class="RadioInput">
        <input class="RadioInput-Input" type="radio" name="days">
        <span class="RadioInput-DummyInput"></span>
        <span class="RadioInput-LabelText">こだわりなし</span>
      </label>
      </li>
    <li>
      <label class="RadioInput">
        <input class="RadioInput-Input" type="radio" name="days">
        <span class="RadioInput-DummyInput"></span>
        <span class="RadioInput-LabelText">~5日分</span>
      </label>
      </li>
    <li>
      <label class="RadioInput">
        <input class="RadioInput-Input" type="radio" name="days">
        <span class="RadioInput-DummyInput"></span>
        <span class="RadioInput-LabelText">~7日分</span>
      </label>
      </li>
      <li>
      <label class="RadioInput">
        <input class="RadioInput-Input" type="radio" name="days">
        <span class="RadioInput-DummyInput"></span>
        <span class="RadioInput-LabelText">それ以上</span>
      </label>
      </li>
    </ul>
  </dd>
  <dt>剤型にこだわりはありますか？</dt>
  <dd>
    <ul class= "search-list">
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">錠剤</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">カプセル</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">粉薬</span>
        </label>
      </li>
      <li>
        <label class="CheckboxInput">
          <input class="CheckboxInput-Input" type="checkbox">
          <span class="CheckboxInput-DummyInput"></span>
          <span class="CheckboxInput-LabelText">点鼻</span>
        </label>
      </li>
    </ul>
  </dd>
  <dt>車の運転はしますか？</dt>
  <dd>
    <ul class= "search-list">
      <li>
    <div class="yesno">
      <input type="radio" name="drive" id="drive-on" value="d-on" checked="">
      <label for="drive-on" class="switch-on">はい</label>
      <input type="radio" name="drive" id="drive-off" value="d-off">
      <label for="drive-off" class="switch-off">いいえ</label>
    </div>
      </li>
    </ul>
  </dd>
  <p style="clear:both"></p>
  <dt>タバコは吸いますか？</dt>
  <dd>
    <ul class= "search-list">
      <li>
    <div class="yesno">
      <input type="radio" name="tobacco" id="tobacco-on" value="t-on" checked="">
      <label for="tobacco-on" class="switch-on">はい</label>
      <input type="radio" name="tobacco" id="tobacco-off" value="t-off">
      <label for="tobacco-off" class="switch-off">いいえ</label>
    </div>
      </li>
    </ul>
  </dd>
  <p style="clear:both"></p>
  <dt>お酒は飲みますか？</dt>
  <dd>
    <ul class= "search-list">
      <li>
    <div class="yesno">
      <input type="radio" name="alchol" id="alchol-on" value="a-on" checked="">
      <label for="alchol-on" class="switch-on">はい</label>
      <input type="radio" name="alchol" id="alchol-off" value="a-off">
      <label for="alchol-off" class="switch-off">いいえ</label>
    </div>
      </li>
    </ul>
  </dd>
</dl>
<% end %>
  </div>
</body>