<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
  <body>
<% content_for(:title, 'Care Drug Searcher') %>
<div id='top-wrapper'>
    <div class="top-inner-text">
        <h1>市販のお薬を買いたいけど、<br>
        どれがおススメ？</h1>
        <p class="site-description">ちょっと体調がおかしい。<br>
    でも病院に行く時間がない――<br>
    <br>
    そんなあなたへ、<br>
    ドラッグストアで買えるおすすめのお薬を紹介します。<br></p>
<label class="open" for="pop-up">
  <div class="btn btnpink top-btn">
      市販のお薬を<br>さがす！
  </div>
</label>

<input type="checkbox" id="pop-up">
  <div class="overlay">
    <div class="window">
      <label class="close" for="pop-up">×</label>

<p>
<div class="text">
このサイトは、<br>
<span class='pink'>「薬を飲む機会が少ない健康な15歳～65歳の方々」</span>が<br>
市販薬を手に取りやすくすることを目標に作られています。
<ul><h5>
<li><i class="fas fa-check text-pink" ></i>
現在、医師または歯科医師の治療を受けている方
</li>
<li><i class="fas fa-check text-pink" ></i>
継続している薬がある方
</li>
<li><i class="fas fa-check text-pink" ></i>
15歳未満のお子様
</li>
<li><i class="fas fa-check text-pink" ></i>
65歳以上のご高齢者
</li>
<li><i class="fas fa-check text-pink" ></i>
妊娠、授乳中の方
</li>
<li><i class="fas fa-check text-pink" ></i>
薬を飲んでアレルギー、ぜんそくを起こしたことがある方
</li>
<li><i class="fas fa-check text-pink" ></i>
健康診断で肝臓、腎臓、血液、胃腸などで指摘を受けたことのある方
</li></h5>
</ul></div>
<p>
上記に当てはまる方のサイトの使用は安全が保証できないため、<br>
医療機関の受診、もしくは薬の購入前に医師、薬剤師に相談<br>
するようお願いいたします。</p>
  <%= link_to drugs_path, class: "button-text" do%>
  <div class="btn btnmint">
    検索ページに進む
  </div>
  <% end %>
</div>


  </div>
</div>

</div>