<% content_for(:title, 'Care Drug Searcher') %>
<div id='top-wrapper'>
<div class="top-inner-text">
    <h1>市販のお薬を買いたいけど、<br>
    どれがおススメ？</h1>
<p>ちょっと体調がおかしい。<br>
でも病院に行く時間がない――<br>
<br>
そんなあなたへ、<br>
ドラッグストアで買えるおすすめのお薬を紹介します。</p>
</div>
</div>