<% if object.errors.any? %>
<div id="error_messages", class="error-message" >
  <ul class="error-message">
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>