<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <div class="site-header__start">
      <%= link_to image_tag('drug-logo60.png', class:'header-logo'), "/" %>
    </div>
      <div class="site-header__middle" >
          <!--▽▽メニュー▽▽-->
          <div id="hamburger">
            <div class="icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        <nav class="pc">
          <ul>
            <li class="nav__item"><a href="#">市販のおくすりを<br>探す！</a></li>
            <li class="nav__item"><a href="#">近隣の薬局を<br>探す！</a></li>
            <li class="nav__item"><a href="#">お薬<br>Q & A</a></li>
          </ul>
        </nav>
        <nav class="phone">
          <ul>
            <li class="nav__item2"><a href="#">市販のおくすりを探す！</a></li>
            <li class="nav__item2"><a href="#">近隣の薬局を探す！</a></li>
            <li class="nav__item2"><a href="#">お薬Q & A</a></li>
          </ul>
        </nav>
      </div>
    <div class="site-header__end" >
      <%= link_to 'ログアウト', logout_path　, method: :delete %>
    </div>
  </div>
</header>
  <%= javascript_importmap_tags %>
<%= yield(:js) %>