<header class="site-header">
  <div class="site-header__start">
    <%= link_to image_tag('drug-logo60.png', class:'header-logo'), "/" %>
  </div>
  <div class="site-header__wrapper">
    <div class="site-header__middle" >
      <div class="hamburger"><span></span><span>Menu</span><span></span></div>
        <nav class="pc">
          <ul>
            <li class="nav__item"><a href="#">市販のおくすりを<br>探す！</a></li>
            <li class="nav__item"><a href="#">近隣の薬局を<br>探す！</a></li>
            <li class="nav__item"><a href="#">お薬<br>Q & A</a></li>
          </ul>
        </nav>
        <nav class="phone">
          <ul>
            <li class="nav__item2"><a href="#">市販のおくすりを探す！</a></li>
            <li class="nav__item2"><a href="#">近隣の薬局を探す！</a></li>
            <li class="nav__item2"><a href="#">お薬Q & A</a></li>
          </ul>
        </nav>
      </div>
    <div class="site-header__end" >
        <ul>
          <li class="nav__user"><i class="fa-solid fa-user"></i> <%= current_user.decorate.full_name %> 様</li>
          <li class="nav__logout"><%= link_to logout_path, data: { turbo_method: :delete } do %><i class="fa-solid fa-right-from-bracket"></i>ログアウト<% end %></li>
        </ul>
    </div>
  </div>
</header>
<%= yield(:js) %>