<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
<body>

<% content_for(:title, t('.title')) %>
<div class="top-header"></div>
<div class="container">
<hgroup>
  <h2><%= t '.title' %></h2><br>
</hgroup>
<%= @ingredient.name %>が含まれる市販医薬品一覧

  <% @ingredient.drugs.each do |drug| %>
      <%= link_to drug.name, drug_path(drug) %>
    <% end %>
  </div>
</div>
</div>
</body>