
.drug-search{
	width: 700px;
	align-content: stretch;
  }
  
  .drug-search dl{
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
  }
  
  .drug-search dt{
	width: 14em;
	float: left;
	padding: 10px;
	background-color: transparent;
	margin: 0 0 10px 0;
	display: flex;
	align-items: center;
	justify-content: left;
	vertical-align: middle;
  }
  
  .drug-search dd{
	padding: 10px;
	background-color: transparent;
	margin: 0 0 10px 0 !important;
  }
  .search-list{
	display: flex;
	flex-wrap: wrap;
  }
  
  .search-list ul{
	margin: 1em;
  }
  .search-list li {
	margin: 0 0.5em;
  }
  
  .search-textarea input {
	width: 350px;
	height: 35px;
	padding: 5px 0;
	border: none;
	border-radius: 3px 0 0 3px;
	box-sizing: border-box;
	background-color: var(--horizon);
	font-size: 1em;
	outline: none;
  }
  
  .search-textarea input::placeholder {
	color: var(--darkgrey);
  }
  
  .search-textarea input[type="submit"] {
	color: var(--whitelight);
	font-weight: 600;
	font-family: M PLUS 1;
	text-align: center;
	background: var(--pink);
	border-radius: 10px;
	position: relative;
	display: block;
	height: 60px;
	transition: 0.3s ease-in-out;
	align-items: center;
	padding: 10px 0;
	justify-content: center;
	border-bottom: none;
	width: 100%;
  }
  
  .search-textarea input[type="submit"]:hover {
	background: var(--melon);
	color: var(--pink);
  }
  .search-textarea input:focus { outline: none;
	background: var(--horizon);
   }
  
  .search-textarea input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s !important;
  }
  
  


/*テーブル
---------------------------------------------------------------------------*/

.search-result {
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: var(--whiteblue);
	border: 1px solid var(--horizon);
	border-radius: 30px;
	float: left ;
  }
/*テーブル１行目に入った見出し部分（※caption）*/

.search-result dl{
	margin-left: 2em;
	margin-bottom: 10px;
}
.search-result dt{
	float: left ;
	clear: left ;
	margin-right: 0.5em ;
	width: 60px ;
  }
.search-result dd{
	padding: 0.3em;
  }
.drug-title{
	vertical-align:  top;
	font-family: M PLUS 2;
	font-size: 1.4em;
	font-style: normal;
	font-weight: 700;
	line-height: 1em;
	color: var(--indigo);
}
.drug-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #666;
	margin-right: 0.5em;
}

@media (min-width: 800px) {
	.ta1 {
	margin: 0 auto 2em;	
    width: 100%;
	}
  }


/*ta1テーブルブロック設定*/
.ta1 {
	margin: 1em auto 1em;		/*最後の「2em」がテーブルの下に空けるスペースです*/
	border-collapse: collapse;
	box-sizing: border-box;
}


/*th（左側）、td（右側）の共通設定*/
.ta1 th, .ta1 td {
	padding: 15px 5px;		/*上下、左右へのボックス内の余白*。基本的に数行上の「.ta1 caption」のpaddingと揃えておけばOKです。*/
	word-break: break-all;	/*英語などのテキストを改行で自動的に折り返す設定。これがないと、テーブルを突き抜けて表示される場合があります。*/
}

/*th（左側）のみの設定*/
.ta1 th {
	vertical-align: middle;
	box-sizing: border-box;
	width: 10em;
	text-align: left;	/*左よせにする*/
	width: 10em;
	padding: 10px;
	background-color: transparent;
	font-family: M PLUS 1;
	font-weight: 600;
	color: var(--indigo);
	border-bottom: 1px solid var(--horizon); 
}
.ta1 td{
	vertical-align: top;
	margin: 0 0 10px 0 !important;
	font-size: 0.92em;
	line-height: 1.4em;
	border-bottom: 1px solid var(--horizon);
}

.tag-ingredient{
	font-size: 0.8em;
	background-color: var(--skyblue);
	margin-right: 0.3em;
	border-radius: 999px;
	color: var(--whitelight);
	font-family: 'Sawarabi Gothic', sans-serif;
	padding: 0.1em 0.5em 0.2em 0.5em;
	display: inline-block;
}

.tag-division{
	left: 80%;
	font-size: 0.8em;
	margin-right: 0.3em;
	background-color: var(--pink);
	border-radius: 999px;
	color: var(--whitelight);
	font-family: 'Sawarabi Gothic', sans-serif;
	display: inline-block;
	padding: 0.1em 0.5em 0.2em 0.5em;
}

.tag-caution{
	font-size: 0.8em;
	background-color: var(--marine);
	margin-right: 0.3em;
	border-radius: 999px;
	color: var(--whitelight);
	font-family: 'Sawarabi Gothic', sans-serif;
	padding: 0.1em 0.5em 0.2em 0.5em;
	display: inline-block;
}

a.btncirlemon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	height: 120px;
	width: 120px;
	margin: auto;
	font-weight: bold;
	border: 2px solid var(--lemon);
	border-radius: 50%;
	transition: 0.5s;
	line-height: 120px;
	color: var(--black);
	-webkit-transition: all 0.3s;
	letter-spacing: 0;
}
a.btncirlemon:hover {
	color: var(--whitelight);
	background: var(--lemon);
  }

  a.btncirmarine {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	height: 120px;
	width: 120px;
	margin: auto;
	font-weight: bold;
	border: 2px solid var(--marine);
	border-radius: 50%;
	transition: 0.5s;
	line-height: 120px;
	color: var(--black);
	-webkit-transition: all 0.3s;
	letter-spacing: 0;
}
a.btncirmarine:hover {
	color: var(--whitelight);
	background: var(--marine);
  }

 
#text-wrap {
    height: 100%;
    display: block;
    margin: 0 auto;
}
 
.hide-text {
    display: none;
}
 
 
button.readmore {
    position: relative;
    height: 80px;
    width: 100px;
    margin: 40px auto;
    display: block;
    background-color: transparent;
    color: #666;
    padding-bottom: 40px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
}
 
button.readmore::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: solid 3px #666;
    border-right: solid 3px #666;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    right: 36px;
    top: 25px;
    transition: .5s;
    -erbkit-transition: .5s;
}
 
button.readmore:hover::after {
    top: 40px;
}
 
.on-click {
    color: transparent!important;
}
 
.on-click {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
