hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e7eb;
}

footer a {
  color:var(--whitelight);
  text-decoration: none;
}

footer a:hover {
  color:var(--pink);
}

.flex {
  display: flex;
	flex-direction: row;
}

.copyright {
	text-align: center;
}

#footer {
  padding: 2rem;
  font-size: 15px;
  color: var(--whitelight);
  background: var(--marine);
	justify-content: center;
}

.footer__navi {
  flex-wrap: wrap;
	justify-content: center;
  margin-bottom: 2rem;
}

.footer__navi li {
	justify-content: center;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
    flex-direction: row;
}
}
