.footer-bottom hr {
  height: 1px;
  border: 0;
}

.footer-bottom a {
  color:var(--whitelight);
  text-decoration: none;
}

.footer-bottom a:hover {
  color:var(--pink);
}


.footer-bottom .flex {
  display: flex;
	flex-direction: row;
}

.copyright p{
	text-align: center;
  color: var(--whitelight);
}

#footer {
  width: 100%;
  z-index: 50;
  padding: 2rem;
  font-size: 15px;
  color: var(--whitelight);
  background: var(--marine);
	justify-content: center;
}


.footer__navi {
  flex-wrap: wrap;
	justify-content: center;
  margin-bottom: 2rem;
}

.footer__navi li {
	justify-content: center;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 768px) {
.footer-bottom  .md-flex {
    display: flex;
    flex-direction: column;
}
}

footer a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px; /*下線の太さ*/
  color: var(--pink);
  background-color: var(--pink); /*下線の色*/
  transition: 0.3s;
}

footer a:hover::after{
  width: 0%;
}

footer a:hover{
  transition: 0.3s ease-in-out;
  color: var(--pink); /*ホバー時の文字色*/
}
