.footer-bottom hr {
  height: 1px;
  border: 0;
}

.footer-bottom a {
  color:var(--whitelight);
  text-decoration: none;
}

.footer-bottom a:hover {
  color:var(--pink);
}


.footer-bottom .flex {
  display: flex;
	flex-direction: row;
}

.copyright p{
	text-align: center;
  color: var(--whitelight);
}

#footer {
  z-index: 50;
  padding: 2rem;
  font-size: 15px;
  color: var(--whitelight);
  background: var(--marine);
	justify-content: center;
}


.footer__navi {
  flex-wrap: wrap;
	justify-content: center;
  margin-bottom: 2rem;
}

.footer__navi li {
	justify-content: center;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 768px) {
.footer-bottom  .md-flex {
    display: flex;
    flex-direction: column;
}
}
