@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&family=Kiwi+Maru:wght@400;500&family=Libre+Bodoni:wght@600&family=M+PLUS+1:wght@600&family=M+PLUS+2:wght@700&family=Zen+Kaku+Gothic+Antique&family=Zen+Maru+Gothic:wght@400;500&display=swap");

.site-header {
  top:0px;
  left:0px;
  width: 90%;
  z-index: 50;
  margin: 20px 30px 0 30px;
  padding: 5px;
  position: fixed;
  background-color: var(--marine);
  border-radius: 9999px;
  display: flex;
  justify-content: end;
}

.header-logo {
  top: 30px;
  left: 50px;
  position: fixed;
  z-index: 2; 
}

.site-header__wrapper {
  display: flex;
  align-items: center;
}

.site-header a {
  transition: .3s;
  font-family: Kaisei Opti;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.3em;
  color: var(--whitelight);
  }

.site-header a:hover {
  color: var(--pink);
}

nav {
  margin: 0 0 0 auto;
}


  /**********************************　
  以下、PC版の設定　
  ************************************/

@media (min-width: 800px){

  .site-header__middle{
    display: flex;
    align-items: center;
  }
  
  .site-header__middle ul {
    justify-content: space-between;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .site-header__end {
    position: relative;
    display: block;
    width: 200px;
    text-align: right;
  }
  
  .nav__item a{
    position: relative;
    display: block;
    text-align: center;
    padding: 1rem 0.5rem;
    width: 100px;
  }
  .nav__item:first-child a {
    width: 140px;
    margin-left: 650px;
  }

  .nav__item a::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: '';
      width: 0;
      height: 4px;
      background-color: var(--pink);
      transition: .3s;
      transform: translateX(-50%);
      }
  
  .nav__item a:hover::after {
        width: 100%;
      }

  .phone {
        display: none;
      }

  .nav__item2 {
    display: none;
      }

}
  /* ↓↓↓ここから下がハンバーガーメニュー ↓↓↓*/

  /**********************************　
  以下、ハンバーガーメニューの設定　
  ************************************/
  
  @media (max-width: 799px) {
    /*700px以下の小さい画面の場合 */
    .pc { display: none;}
    
    .site-header__middle{
      display: flex;
      height: 60px;
    }
    .site-header__end {
      display: block;
      width: 200px;
      padding: 0 50px 0 150px;
      margin-left: 450px;
      text-align: right;
    }
    .site-header__wrapper {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      align-items: center;
      }

    .header-logo {
      left: 50px;
      position: fixed;
      top: 25px;
    }
    #hamburger {
      background-color: transparent;
      cursor: pointer;
      height: 60px;
      width: 60px;
      position: relative;
      margin-right: 0;
      display: block;
    }

    .icon span {
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: var(--whitelight);
      border-radius: 8px;
      transition: ease 0.75s;
    }
  
    .icon span:nth-of-type(1) {
      top: 16px;
    }
    .icon span:nth-of-type(2) {
      top: 28px;
    }
    .icon span:nth-of-type(3) {
      bottom: 16px;
    }

  /*ハンバーガーの横線3本の動き*/
    .close span:nth-of-type(1) {
      transform: rotate(45deg);
      top: 28px;
    }
  
    .close span:nth-of-type(2) {
      opacity: 0;
    }
  
    .close span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
    }

    .phone{
      width: 40%;
      top: 80px;
      left: 45%;
      position: absolute;
      padding: 20px;
      background-color: var(--marine);
      background-color: rgba(120,200,199,0.95);
      display: none;
      border-radius: 10px;
    }

    #hamburger.close .phone {
      display: block; /* ハンバーガーメニューが開いたときに表示 */
      transform: translateY(0); /* メニューを表示するときに下からスライドさせないようにする */
    }

    .phone a{
      text-align: center;
    }


    .phone ul {
      flex-direction: column;
    }

    /* メニュー項目の余白調整 */
    .phone li {
    margin-bottom: 10px;
}

  }