@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&family=Kiwi+Maru:wght@400;500&family=Libre+Bodoni:wght@600&family=M+PLUS+1:wght@600&family=M+PLUS+2:wght@700&family=Zen+Kaku+Gothic+Antique&family=Zen+Maru+Gothic:wght@400;500&display=swap");

.site-header {
  top:0px;
  left:0px;
  width: 95%;
  z-index: 50;
  margin: 20px 30px 0 30px;
  padding: 5px;
  position: fixed;
  background-color: var(--marine);
  border-radius: 9999px;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.header-logo {
  left: 50px;
  position: fixed;
  top: 30px;
}

@media (max-width: 799px) {
  .header-logo {
    left: 50px;
    position: fixed;
    top: 25px;
  }
}
.site-header__middle{
  left: 120px;
  position: relative;
}


@media (min-width: 800px) {

    .site-header__wrapper {
      padding-top: 0;
      padding-bottom: 0; }
    .phone { display: none}
    .pc {
        display: flex; }

    .pc a {
      position: relative;
      display: inline-block;
      transition: .3s;
      font-family: Kaisei Opti;
      font-size: 1em;
      font-weight: 500;
      line-height: 1.3em;
      color: var(--whitelight);
      text-align: center;
      border-right: 1px solid var(--horizon);
      width: 100px;
      height: 30px;
      }
    .nav__item:first-child a {
        border-left: 1px solid var(--horizon);
        width: 140px;}

    .pc a:hover {
      color: var(--pink);
    }
    .pc a::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: '';
      width: 0;
      height: 4px;
      background-color: var(--pink);
      transition: .3s;
      transform: translateX(-50%);
      }
    .nav__item a {
        display: block;
        padding: 1.5rem 1rem; }

    .pc a:hover::after {
      width: 100%;
    }
  }

@media (max-width: 799px) {
  .site-header__end {
    padding-right: 4rem; } }

@media (min-width: 800px) {
  .nav__wrapper {
    display: flex; } }

.material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
      color: var(--whitelight);
      }
  /* ↓↓↓ここから下がハンバーガーメニュー ↓↓↓*/

  /**********************************　
  以下、ハンバーガーメニューの設定　
  ************************************/
  
  @media (max-width: 799px) {
    /*700px以下の小さい画面の場合 */
    .pc {
      display: none;}
      .phone{display: none}
    .phone{
      display: flex;
      text-align: center;
      margin: 10px;
      padding: 20px;
      left: 150px;
      position: absolute; /*絶対配置　top　leftからの位置を絶対配置する*/
      z-index: -1;
      background-color: var(--marine);
      width: 40%;
      border-radius: 20px;
    }
    .phone a {
        padding: 1.5rem 1rem;
        transition: .3s;
        padding: 0.5rem 0.5rem;
        font-family: Kaisei Opti;
        font-size: 1.02em;
        font-weight: 500;
        line-height: 1.3em;
        color: var(--whitelight);
        border-bottom: solid 1px var(--horizon);
        }
    
      .phone a:hover {
        color: var(--pink);
        background-color: var(--melon);
        transition: .3s;
        cursor: pointer;
        }

    #hamburger {
      background-color: transparent;
      position: relative;
      cursor: pointer;
      margin: 0 0 0 auto;
      height: 60px;
      width: 60px;
    }
  
    .icon span {
      position: absolute;
      left: 15px;
      width: 30px;
      height: 4px;
      background-color: var(--whitelight);
      border-radius: 8px;
      transition: ease 0.75s;
    }
  
    .icon span:nth-of-type(1) {
      top: 16px;
    }
    .icon span:nth-of-type(2) {
      top: 28px;
    }
    .icon span:nth-of-type(3) {
      bottom: 16px;
    }


  /*ハンバーガーの横線3本の動き*/
    .close span:nth-of-type(1) {
      transform: rotate(45deg);
      top: 28px;
    }
  
    .close span:nth-of-type(2) {
      opacity: 0;
    }
  
    .close span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
    }
    
    ul {
      flex-direction: column;
    }
  }