@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500&family=Kaisei+Opti:wght@700&family=Kiwi+Maru:wght@400;500&family=Noto+Serif+JP&family=Libre+Bodoni:wght@600&family=M+PLUS+1:wght@400;600;700&family=M+PLUS+2:wght@700&family=Zen+Kaku+Gothic+Antique&family=Zen+Maru+Gothic:wght@400;500&display=swap");

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
}

:root {
  /* main colors */
  --whitelight: #fbfff6;
  --whiteblue: #fafffd;
  --horizon: #dff8f2;
  --black: #3f474e;
  --pink: #eb96ab;
  --salmon: #ffb1a0;
  --lemon: #f3de1a;
  --sea: #a6c4e8;
  --indigo: #3a6a8d;
  --lightgrey: #d9d9d9;
  --grey: #cccccc;
  --darkgrey: #5f6868;
  --mint: #64ceb5;
  --marine: #78C8C7;
  --melon: #caf1a4;
  --creemmelon: #f8fef2;
  --nezumi: #69919D;
}

body {
  background-color: var(--creemmelon);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

.top-header {
  z-index: 20;
	overflow-x: hidden;
	top: 0px;
	left:0px;
  width: 100%;
  background-image: url("drug-top-header.jpg");
	height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: top;
	position:  relative;
}


.container {
  z-index: 20;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

a {
  text-decoration: none;
}

.textlink a{
  position: relative;
  transition: 0.3s;
  color: var(--pink);
  text-decoration: none;
}
.textlink a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px; /*下線の太さ*/
  color: var(--salmon);
  background-color: var(--salmon); /*下線の色*/
  transition: 0.3s;
}

.textlink a:hover::after{
  width: 100%;
}
.textlink a:hover{
  color: var(--salmon); /*ホバー時の文字色*/
}


h1 {
  /*Static-pageの大きい文字*/
  font-family: Kiwi Maru;
  font-size: 2.5em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0;
}

h2 {
  /*それぞれのページタイトル*/
  font-family: Kiwi Maru;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  line-height: 0.5em;
  color: var(--indigo);
}

h3 {
  color: var(--unnamed, #4f5974);
  text-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.5);
  font-family: Zen Maru Gothic;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  line-height: 1em;
}

h4 {
  font-family: M PLUS 2;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  line-height: 1em;
}

h5 {
  font-family: M PLUS 1;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  line-height: 1em;
}

.menu {
  font-family: Kaisei Opti;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
}

p {
	font-size: 1em;
	margin: 0;
	color: var(--black);
  font-family: 'IBM Plex Sans JP', sans-serif;
}

/* 回り込み解除 */
.clear {
  clear: both;
}

li {
  list-style: none;
}

.pink{
  color: var(--pink)
}

.btn{
  background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* ミントのボタン */
.btnmint {
  font-family: M PLUS 1;
  background: var(--mint);
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 25px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  text-decoration: none;
}
.btnmint a{
  color: var(--whitelight);
}
.btnmint:hover {
  background: var(--melon);
  color: var(--pink);
}

.btnmint a:hover {
  color: var(--pink);
}
.btnmint:after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid var(--whitelight);
  border-right: 3px solid var(--whitelight);
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

/* ピンクのボタン */
.btnpink{
  color: var(--whitelight);
  font-weight: 600;
  font-family: M PLUS 1;
  text-align: center;
  background: var(--pink);
  border-radius: 20px;
  display: block;
  height: 60px;
  transition: 0.3s ease-in-out;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
}
.btnpink:hover {
  background: var(--melon);
  color: var(--pink);
}

/* まるぽちボタン */

.RadioInput {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5em 0.5em 0;
}
.RadioInput-Input {
  opacity: 0;
  width: 0;
  margin: 0;
}
.RadioInput:hover > .RadioInput-DummyInput {
  border: dashed 2px var(--salmon);
}
.RadioInput-Input:focus + .RadioInput-DummyInput {
  background: var(--whitelight);
}
.RadioInput-Input:checked + .RadioInput-DummyInput {
  background: var(--salmon);
}
.RadioInput-Input:checked + .RadioInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--whitelight);
}
.RadioInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--horizon);
  border: dashed 2px transparent;
}
.RadioInput-LabelText {
  margin-left: 10px;
  display: block;
}

/* 🔽🔽🔽 チェックボックス 🔽🔽🔽 */
.CheckboxInput {
  padding: 0 0.5em 0.5em 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.CheckboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
}

.CheckboxInput:hover > .CheckboxInput-DummyInput {
  border: dashed 2px var(--mint);
}

.CheckboxInput-Input:checked + .CheckboxInput-DummyInput {
  background: var(--mint);
}
.CheckboxInput-Input:checked + .CheckboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 35%;
  left: 60%;
  width: 50%;
  height: 3px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: var(--whitelight);
}
.CheckboxInput-Input:checked + .CheckboxInput-DummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 65%;
  width: 80%;
  height: 3px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: var(--whitelight);
}
.CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: solid 2px transparent;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: var(--horizon);
}
.CheckboxInput-LabelText {
  margin-left: 10px;
  display: block;
  color: var(--black);
}

/* 🔼🔼🔼 チェックボックス 🔼🔼🔼  */

/* yesnoボタン */
.yesno input {
  display: none;
}
.yesno label {
  display: block;
  float: left;
  cursor: pointer;
  width: 60px;
  padding: 0.5em;
  background: var(--horizon);
  color: var(--darkgrey);
  text-align: center;
  line-height: 1;
  transition: 0.2s;
}
.yesno label:first-of-type {
  border-radius: 3px 0 0 3px;
}
.yesno label:last-of-type {
  border-radius: 0 3px 3px 0;
}
.yesno input[type="radio"]:checked + .switch-on {
  background-color: var(--pink);
  color: var(--whitelight);
}
.yesno input[type="radio"]:checked + .switch-off {
  background-color: var(--sea);
  color: var(--whitelight);
}


.drug-search{
  width: 700px;
  align-content: stretch;
}

.drug-search dl{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.drug-search dt{
  width: 14em;
  float: left;
  padding: 10px;
  background-color: transparent;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: left;
  vertical-align: middle;
}

.drug-search dd{
  padding: 10px;
  background-color: transparent;
  margin: 0 0 10px 0 !important;
}
.search-list{
  display: flex;
  flex-wrap: wrap;
}

.search-list ul{
  margin: 1em;
}
.search-list li {
  margin: 0 0.5em;
}