@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500&family=Kaisei+Opti:wght@700&family=Kiwi+Maru:wght@400;500&family=Noto+Serif+JP&family=Libre+Bodoni:wght@600&family=M+PLUS+1:wght@400;600;700&family=M+PLUS+2:wght@700&family=Zen+Kaku+Gothic+Antique&family=Zen+Maru+Gothic:wght@400;500&family=Sawarabi+Gothic&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
}

:root {
  /* main colors */
  --whitelight: #fbfff6;
  --whiteblue: #fafffd;
  --horizon: #dff8f2;
  --black: #3f474e;
  --pink: #eb96ab;
  --salmon: #ffb1a0;
  --lemon: #f3de1a;
  --sea: #a6c4e8;
  --indigo: #3a6a8d;
  --lightgrey: #d9d9d9;
  --grey: #cccccc;
  --darkgrey: #5f6868;
  --mint: #64ceb5;
  --marine: #78C8C7;
  --melon: #caf1a4;
  --creemmelon: #f8fef2;
  --nezumi: #69919D;
  --skyblue:#8AAEE4;
}

body {
  background-color: var(--creemmelon);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

.top-header {
  z-index: 20;
	overflow-x: hidden;
	top: 0px;
	left:0px;
  width: 100%;
  background-image: url("drug-top-header.jpg");
	height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: top;
	position:  relative;
}


.container {
  z-index: 20;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}


@media (min-width: 480px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.textlink a {
  text-decoration: none;
}

.textlink a{
  position: relative;
  transition: 0.3s;
  color: var(--pink);
  text-decoration: none;
}


.textlink a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 1px; /*下線の太さ*/
  color: var(--salmon);
  background-color: var(--salmon); /*下線の色*/
  transition: 0.3s;
}

.textlink a:hover::after{
  width: 100%;
}
.textlink a:hover{
  color: var(--salmon); /*ホバー時の文字色*/
}



h1 {
  /*Static-pageの大きい文字*/
  font-family: Kiwi Maru;
  font-size: 2.5em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0;
}

h2 {
  /*それぞれのページタイトル*/
  font-family: Kiwi Maru;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  line-height: 0.5em;
  color: var(--indigo);
}

h3 {
  color: var(--unnamed, #4f5974);
  text-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.5);
  font-family: Zen Maru Gothic;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  line-height: 1em;
}

h4 {
  font-family: M PLUS 2;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  line-height: 1em;
}

h5 {
  font-family: M PLUS 1;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  line-height: 1em;
}

.menu {
  font-family: Kaisei Opti;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
}

p {
	font-size: 1em;
	margin: 0;
	color: var(--black);
  font-family: 'IBM Plex Sans JP', sans-serif;
}

/* 回り込み解除 */
.clear {
  clear: both;
}

li {
  list-style: none;
}

.pink{
  color: var(--pink)
}

.btn{
  background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn-text a:after{
  width: 0;
  height: 0; /*下線の太さ*/
}

.btn-text a:hover::after{
  width: 0;
  height: 0;
}

/* ミントのボタン */
.btnmint {
  color: var(--whitelight);
  font-family: M PLUS 1;
  background: var(--mint);
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 25px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  text-decoration: none;
}
.btnmint a{
  color: var(--whitelight);
}
.btnmint:hover {
  background: var(--melon);
  color: var(--pink);
}

.btnmint a:hover {
  color: var(--pink);
}
.btnmint:after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 3px solid var(--whitelight);
  border-right: 3px solid var(--whitelight);
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
}

.btnmint a:hover::after {
  width: 0;
  height: 0;
}


/* ピンクのボタン */
.btnpink{
  color: var(--whitelight);
  font-weight: 600;
  font-family: M PLUS 1;
  text-align: center;
  background: var(--pink);
  border-radius: 20px;
  display: block;
  height: 60px;
  transition: 0.3s ease-in-out;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
}
.btnpink:hover {
  background: var(--melon);
  color: var(--pink);
}

/* まるぽちボタン */

.RadioInput {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5em 0.5em 0;
}
.RadioInput-Input {
  opacity: 0;
  width: 0;
  margin: 0;
}
.RadioInput:hover > .RadioInput-DummyInput {
  border: dashed 2px var(--salmon);
}
.RadioInput-Input:focus + .RadioInput-DummyInput {
  background: var(--whitelight);
}
.RadioInput-Input:checked + .RadioInput-DummyInput {
  background: var(--salmon);
}
.RadioInput-Input:checked + .RadioInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--whitelight);
}
.RadioInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--horizon);
  border: dashed 2px transparent;
}
.RadioInput-LabelText {
  margin-left: 10px;
  display: block;
}

/* 🔽🔽🔽 チェックボックス 🔽🔽🔽 */
  .CheckboxInput {
    padding: 0 0.5em 0.5em 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .CheckboxInput-Input {
    margin: 0;
    width: 0;
    opacity: 0;
  }

  .CheckboxInput:hover > .CheckboxInput-DummyInput {
    border: dashed 2px var(--mint);
  }

  .CheckboxInput-Input:checked + .CheckboxInput-DummyInput {
    background: var(--mint);
  }
  .CheckboxInput-Input:checked + .CheckboxInput-DummyInput::before {
    content: "";
    display: block;
    position: absolute;
    top: 35%;
    left: 60%;
    width: 50%;
    height: 3px;
    border-radius: 2px;
    transform: translate(-6px, 5px) rotateZ(-135deg);
    transform-origin: 2px 2px;
    background: var(--whitelight);
  }
  .CheckboxInput-Input:checked + .CheckboxInput-DummyInput::after {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 65%;
    width: 80%;
    height: 3px;
    border-radius: 2px;
    transform: translate(-6px, 5px) rotateZ(-45deg);
    transform-origin: 2px 2px;
    background: var(--whitelight);
  }
  .CheckboxInput-DummyInput {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: solid 2px transparent;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: var(--horizon);
  }
  .CheckboxInput-LabelText {
    margin-left: 10px;
    display: block;
    color: var(--black);
  }
/* 🔼🔼🔼 チェックボックス 🔼🔼🔼  */

/* yesnoボタン */
.yesno input {
  display: none;
}
.yesno label {
  display: block;
  float: left;
  cursor: pointer;
  width: 60px;
  padding: 0.5em;
  background: var(--horizon);
  color: var(--darkgrey);
  text-align: center;
  line-height: 1;
  transition: 0.2s;
}
.yesno label:first-of-type {
  border-radius: 3px 0 0 3px;
}
.yesno label:last-of-type {
  border-radius: 0 3px 3px 0;
}
.yesno input[type="radio"]:checked + .switch-on {
  background-color: var(--pink);
  color: var(--whitelight);
}
.yesno input[type="radio"]:checked + .switch-off {
  background-color: var(--sea);
  color: var(--whitelight);
}


/* ページネーションの装飾 */

/* 自分で指定したdivタグ */
.item__paginate{
  width: 100%;
  margin: auto;
}

/* ページネーション全体 */
.pagination{
  text-align: center;
  display: flex;
  justify-content: center; 
  margin-bottom: 30px;
  color: var(--darkgrey);
}

/* ページネーションのspan */
.pagination span{
  text-align: center;
  width: 50px;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  color: var(--darkgrey);
  display: block;
  padding: 10px;
  transition: 0.3s ease-in-out;
  margin-bottom: 10px;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  top:1px;
  width: 30px;
  height: 30px;
  background-color: var(--lemon);
  color: #FFF;
  border-radius: 100%;
}

/* 現在のページの数字についての表記 */
.current{
  color: var(--pink);
  padding: 10px;
}

/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Variables */

$heading-color:white;
$heading-size:22px;
$heading-weight:700;
$sub-heading-color:white;
$sub-heading-size:12px;
$sub-heading-weight:400;
$heading-style:uppercase;

$wrapper-width:380px;
$content-width:185px;
$content-height:60px;
$content-background:transparent;
$content-radius:1px;
$content-shadow:false;
$box-shadow:0px 2px rgba(0, 0, 0, 0.34);

$global-font:'Montserrat', sans-serif;
$text-color:black;
$text-align:center;
$background:#2A0E22;
$title-width:320px;
$title-height:230px;
$background-image:'';

$include-social:true;
$include-made:true;

/* Heart Vars */

$heart-width:14px;
$heart-height:24px;
$heart-color:#CB3D3D;
$hr:45deg;
$hl:$hr - ($hr * 2);

/* Placeholders */

%center{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  margin:auto;
}

%reset{
  margin:0;
  padding:0;
}

%fontSmooth{
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

  .love{
    position: absolute;
    right: 20px;
    bottom: 0px;
    font-size: 11px;
    font-weight: normal;
    p{
      color:white;
      font-weight:normal;
      font-family: 'Open Sans', sans-serif;
    }
    a{
      color:white;
      font-weight:700;
      text-decoration:none;
    }
    img{
      position:relative;
      top:3px;
      margin:0px 4px;
      width:10px;
    }
  }
  .brand{
    position:absolute;
    left:20px;
    bottom:14px;
    img{
      width:30px;
    }
  }

input[type='checkbox']:checked + label > .favourite .favourite_text{
  top:7px;
  opacity:0;
  transition-property:top,opacity;
  transition-duration:0.3s;
  transition-delay:.0s;
}
input[type='checkbox']:checked + label > .favourite{
  width:20px;
  transition-delay:.2s;
  box-shadow:0px 0px 0px 0px transparent;
}

input[type='checkbox']:checked + label > .favourite .favourite_heart .favourite_heart__left{
width: 6px;
height: 12px;
left: 3px;
top: 0px;
margin-top: 8px;
transition-property: width,height,left,top,margin-top;
transition-duration: .2s;
transition-delay: 1.2s;
}  input[type='checkbox']:checked + label > .favourite .favourite_heart .favourite_heart__right{
  width: 6px;
  transition-property:width,height,left,margin-top;
  transition-duration:.2s;
  transition-delay:1.2s;
  height: 17px;
  left: 10px;
  margin-top: 4px;
}
.spinner{
  &_part{
    width: 2px;
    height: 2px;
    opacity:0;
    background: #CB3D3D;
    position: absolute;
    top: 55px;
    left: 20px;
    transform-origin: 10px -25px;
    @for $i from 1 through 180{
      &:nth-of-type(#{$i}){
        transform:rotate($i*2deg)
      }
  }
}
}
.favourite{
  border-radius: 100px;
  width:20px;
  overflow:hidden;
  height:20px;
  cursor:pointer;
  @extend %center;
  -webkit-animation:pop .6s;
  padding:20px;
  color: var(--darkgrey);
  transition-property:width;
  transition-duration:.2s,.2s;
  -webkit-transition-timing-function: cubic-bezier(0.38, -0.35, 0.265, 1.15);
  &:hover{
    width:146px;
    box-shadow:0px 0px 0px 3px var(--darkgray);
  }
  &:hover > .favourite_heart .favourite_heart__left{
    transform:scale(1.1) rotate(-45deg);
    transition-property:transform;
    transition-duration:.1s;
    //-webkit-animation:heartbeat_l 1s infinite;
  }
  &:hover > .favourite_text{
    top:1px;
    opacity:1;
    transition-property:top,opacity;
    transition-duration:0.3s;
    transition-delay:.3s;
  }
  &:hover > .favourite_heart .favourite_heart__right{
    transform:scale(1.1) rotate(45deg);
    transition-property:transform;
    transition-duration:.1s;

  }
  &_text{
    margin-left: 33px;
    top:7px;
    opacity:0;
    position:relative;
    span{
      color: var(--darkgrey);
      text-transform:uppercase;
      font-weight:normal;
      font-size:12px;
    }
  }
  &_heart{
    position: absolute;
    top: 19px;
    left: 20px;
    margin-right: 10px;
    &__left{
      background:$heart-color;
      width:$heart-width;
      height:$heart-height;
      transform:rotate($hl);
      position:absolute;
      left:0px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }
    &__right{
      background:$heart-color;
      width:$heart-width;
      height:$heart-height;
      transform:rotate($hr);
      position:absolute;
      left: 8px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }
  }
}

input[type='checkbox']:not(:checked) + label > .favourite{
      transition-property:box-shadow,width;
      transition-duration:0s,.2s;
      transition-delay:0s,0s;
      box-shadow:0px 0px 0px 3px darkgray;
}
/* Animations */

// Any animations here

@keyframes pop{
  0%{transform:scale(0)}
  50%{transform:scale(1.05)}
  100%{transform:scale(1)}
}

@keyframes heartbeat_l{
  0%{transform:scale(1.1);transform:rotate(-45deg)}
  50%{transform:scale(.7);transform:rotate(-45deg)}
  100%{transform:scale(1.1);transform:rotate(-45deg)}
}