#top-wrapper {
	top: 0px;
	left:0px;
  background-image: url("drug-top.jpg");
	height: calc(100vh);
  background-size: cover;
  background-repeat: no-repeat;
	background-position: top;
	z-index: 10;
	position:  relative;
}
.top-inner-text h1{
	width: 80%;
	position: relative;
	top: 150px;
	left: 70px;
	color:var(--indigo);
	line-height: 1.2em;
	text-shadow:0 0 15px  var(--horizon);
}

.top-inner-text p{
	position: relative;
	top: 200px;
	left: 70px;
	color: #4F5974;
	line-height: 2em;
	text-shadow:0 0 15px  var(--horizon);
}