* {-webkit-appearance: none;/*webkit系ブラウザのデフォルトスタイル*/}

hgroup { 
  text-align:center;
  margin-top: 4em;
}
.user-form{
  width: 400px;
}

form {
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: var(--whiteblue);
  border: 1px solid var(--horizon);
  border-radius: 30px;
}

.group { 
  position: relative;
  margin-bottom: 45px;
}

/* 入力フォーム */
.textarea input {
  height: 35px;
  padding: 5px 0;
  border: none;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  background-color: var(--horizon);
  font-size: 1em;
  outline: none;
  width: 100%;

}

.textarea input::placeholder {
  color: var(--darkgrey);
}

.textarea input[type="submit"] {
  color: var(--whitelight);
  font-weight: 600;
  font-family: M PLUS 1;
  text-align: center;
  background: var(--pink);
  border-radius: 20px;
  position: relative;
  display: block;
  height: 60px;
  transition: 0.3s ease-in-out;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
  border-bottom: none;
  width: 100%;
}

.textarea input[type="submit"]:hover {
  background: var(--melon);
  color: var(--pink);
}
.textarea input:focus { outline: none;
  background: var(--horizon);
 }

.textarea input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}


/* Label */

.group label {
  color: #999; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}


/* active */

input:focus ~ .label, input.used ~ .label {
  top: -20px;
  transform: scale(.75); left: -2px;
  /* font-size: 14px; */
  color: var(--pink);
}


/* テキストエリアのアンダーライン */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--pink);
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%;  }


/* active */

input:focus~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active */

.textarea input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
  from { background: var(--pink); }
  to  { width: 0; background: transparent; }
}


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.user-form {
  width: 400px;
  align-items: center;
  margin: auto;
}

